body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* login page */
.logo_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3546;
}

.logo_container img {
  width: 600px;
}

.login_input_container {
  margin: auto;
  width: calc(100% - 50px);
}
/* end of login page */

/* product image style */
.product_image {
  height: 200px !important;
  width: 100% !important;
  object-fit: contain;
  object-position: center;
}
